@using WebApp.Models
@model WebApp.Models.LoginModel;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход в систему</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/authpage.css" />
</head>
<!-- partial:index.partial.html -->
<body class="align">
    <h1>Ошибка при выполнении действия!</h1>
</body>
</html>