* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}

.header {
    width: 100%;
    background: #2c3338;
}

.side-nav {
    width: 20%;
    height: 100%;
    background-color: #0b1956;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
    display: flex;
    align-items: center;
}

.my-account {
    width: 100%;
    height: 100%;
    padding-left: 25%;
    background: #2c3338;
}

.my-account h1{
    color: white;
}

.nav-links {
    list-style: none;
    position: relative;
}

.nav-links li{
    padding: 10px 0;
    margin-bottom: 1rem;
}

.nav-links p{
    margin: 0px;
}

a {
    text-decoration: none
}

.nav-links li a{
    color: #fff;
    text-decoration: none;
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

.nav-links li a i{
    font-size: 22px;
    margin-right: 20px;
}

.active {
    background-color: white;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0%;
    top: 2.6%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, .4);
    display: none;
    transition: 1s;
}

.nav-links li:hover a {
    background: white;
    color: #0b1956;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, .4);
    z-index: -1;
    transition: .3s;
}

.icon{
    border-radius: 100%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.icon i{
    font-size: 30px;
}

.tg {
    background-color: #0088cc;
}

.vk {
    background-color: #0077FF;
}